:root {
  --color-primary: rgb(146, 39, 218);
  --color-primary-hover: rgb(189, 105, 245);
  --color-primary25: rgb(223, 183, 250);
  --color-secondary: rgb(59, 12, 30);
  --color-secondary-hover: rgb(83, 20, 59);

  --black: #222;
  --black80: #333333aa;
  --black25: #44444480;

  --white: #eee;
  --white80: #eeeeeecc;
  --white25: #eeeeee80;

  --bg-body: linear-gradient(20deg, #a9a9a9, #e9e9e9);
  --bg-body-dark: linear-gradient(20deg, #090909, #292929);
  --foreground: var(--black);
  --foreground80: var(--black80);
  --foreground25: var(--black25);

  --ghost-shadow: 0 0 3px rgb(0, 0, 0, 0.3);
  --ghost-active: rgb(146, 39, 218, 0.2);
  --bg-card: gray;
}

[data-theme='dark'] {
  --bg-body: var(--bg-body-dark);
  --foreground: var(--white);
  --foreground75: var(--white80);
  --foreground25: var(--white25);
  --ghost-shadow: 0 0 3px rgb(255, 255, 255, 0.25);
}